.aboutBoss {
    display: flex;
    width: 1170px;
    margin: 0 auto;
    padding: 15px;
    flex-direction: column;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    font-family: 'PT Sans', sans-serif;
}

.bossImg {
    width: 370px;
    height: 500px;
    display: flex;
    margin-right: 20px;
}

.bossText {
    display: flex;
    flex-wrap: wrap;
    font-size: 23px;
}

.aboutUs {
    display: flex;
    width: 1140px;
    height: auto;
    font-size: 23px;
}

.containerBossInfo {
    display: flex;
    flex-direction: row;
}